python==3.8.12
beautifulsoup4==4.12.3
finbert==0.1.4
gensim==4.3.2
matplotlib==3.8.2
nltk==3.8.1
numpy==1.26.3
pandas==2.2.0
requests==2.31.0
scikit-learn==1.4.0
scipy==1.7.3
tensorflow==2.15.0
tensorflow-estimator==2.15.0
textblob==0.17.1
torch==1.11.0
transformers==4.36.2
xgboost==2.0.3
